Django==1.9.9
argparse==1.2.1
dj-database-url==0.4.1
gunicorn==19.6.0
whitenoise==3.2.1
wsgiref==0.1.2
psycopg2==2.7.1
django-gcm==1.2.0
django-tastypie==0.13.3
python-dateutil==2.5.3
python-mimeparse==1.5.2
requests==2.11.1
six==1.10.0
dropbox
django-import-export
django-queryset-csv
