.contact-info p {
color: #888888;
font-size: 0.9em;
line-height: 1.8em;
font-weight: 400;
margin-bottom: 1em;
}
.contact-details form input[type="text"], .contact-details textarea {
width: 46.7%;
margin-right: 4%;
padding: 12px;
border: 1px solid #E2E0ED;
font-size: 1em;
margin-bottom: 2em;
color: #C2C1CB;
background: #fff;
outline: none;
font-weight: 400;
font-family: 'Lato', sans-serif;
transition: 0.5s all ease;
-webkit-transition: 0.5s all ease;
-moz-transition: 0.5s all ease;
-o-transition: 0.5s all ease;
-ms-transition: 0.5s all ease;
}
.contact-details form input[type="text"]:hover, .contact-details textarea:hover{
border: 1px solid #3b8e31;
}
.contact-details textarea {
resize: none;
height: 200px;
width: 98%;
margin-right: 0%;
}
.contact-details form input[type="text"]:nth-child(2),.contact-details form input[type="text"]:nth-child(4){
margin-right:0%;
}
.contact-map iframe {
width: 100%;
height: 200px;
margin-top: 0.5em;
}
.company_address {
padding-left: 3em;
}
.contact-map h4, .company_address h4 {
color: #3b8e31;
font-size: 1.3em;
font-weight: 600;
margin-bottom: 1em;
}
.company_address p {
font-size: 1em;
color:#888888;
line-height: 1.8em;
}
.company_address p a{
color:#7C7C7C;
}
.company_address p a:hover{
color:#00aeff;
}
.contact-details {
margin-top: 2em;
}
.contact-map {
padding:0;
}
.contact-details form input[type="submit"] {
font-weight: 400;
color:#3b8e31;
outline: none;
border: 1px solid #3b8e31;
font-size: 1em;
padding: 0.6em 3em;
background:transparent;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
.contact-details form input[type="submit"]:hover{
border: 1px solid #3b8e31;
background:#3b8e31;
color:#fff;
}