<html>
<head>
<title>
Welcome
</title>
</head>


<body>
	<label> Name :</label> <textarea  id="name"> </textarea><br>
	<label> Email:</label> <textarea  id="email"> </textarea><br>
	<label> Password :</label> <textarea  id="password"> </textarea><br>
	<label> Address :</label> <textarea  id="address"> </textarea><br>
	<label> Phone :</label> <textarea  id="phone"> </textarea><br>
	<label> Branch :</label> <textarea  id="branch"> </textarea><br>
	<label> Average :</label> <textarea  id="average"> </textarea><br>
	<label> Placed :</label> <textarea  id="placed"> </textarea><br>
	<label> Active_back:</label> <textarea  id="active_back"> </textarea><br>
	<label> Num_back :</label> <textarea  id="num_back"> </textarea><br>
</body>

</html>