<html>
<head>
<title>PICT | {{student.roll}} | {{student.name}} Details.</title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/mystyle.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
	<script src = "/static/js/check.js/"></script>
  <style type="text/css">
	 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
 </style>
  <script>
function printPage() {
    window.print();
}

</script>
  
</head>
<body>

 <!-- Trigger/Open The Modal -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form method="post" action="/changepassword/">
	  <label> Enter new password :</label><br><br>
	  <input type="password"  name = "password" id="password"><br><br>
	  <input type="submit" value="Submit" onclick="#myModal.close">
	<input type="text"  name="s_id" value='{{student.s_id}}' hidden >
	</form>
  </div>

</div>

<!-- this is from studetns profile -->
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

{% if lock == -1 %}
<input class="btn btn-info" type="button" value="Print this page" onclick="printPage()" />
<!-- this is from admin profile for verification -->
{% elif lock == 0 %}
<input class="btn btn-info" type="button" value="Lock" id="lock1" onclick="lock('{{student.prn}}')"/>
{% elif lock ==  1 %}
<input class="btn btn-info" type="button" value="Unlock" id="lock1" onclick="unlock('{{student.prn}}')" />
{% endif %}

{% if login == 1 %}
<div align="right" style="margin-right:20px;margin-top:-30px">
<input class="btn btn-info" type="button" value="Change password" id="myBtn"/>
</div>
 {% endif %}

<h3>PERSONAL DETAILS</h3>
<div class="table-responsive table-css">
<table width="80%" class="table-bordered">
<tbody>
	<tr><th>Name</th><td> {{student.name}}</td></tr>
	<tr><th>Email</th><td> {{student.email}}</td></tr>
	<tr><th>College_id</th><td> {{student.college_id}}</td></tr>
	<tr><th>PRN</th><td> {{student.prn}}</td></tr>
	<tr><th>Roll Number</th><td> {{student.roll}}</td></tr>
	<tr><th>Phone</th><td> {{student.phone}}</td></tr>
	<tr><th>Course</th><td> {{student.course}}</td></tr>
	<tr><th>Branch</th><td> {{student.branch}}</td></tr>
	<tr><th>Gender</th><td> {{student.gender}}</td></tr>
	<tr><th>Birth Date</th><td> {{student.birth_date}}</td></tr>
	<tr><th>Current Address</th><td> {{student.cur_address}}</td></tr>
	<tr><th>Permanent Address</th><td> {{student.per_address}}</td></tr>
	<tr><th>City</th><td> {{student.city}}</td></tr>
	<tr><th>Aadhar Number</th><td> {{student.aadhar_number}}</td></tr>
	<tr><th>PAN Number</th><td> {{student.pan_number}}</td></tr>
	<tr><th>Passport Number</th><td> {{student.passport_number}}</td></tr>

</tbody>
</table>
</div>

<br/>
<h3>EDUCATION DETAILS</h3>
<div class="table-responsive table-css">
<h4>10th</h4>
<table width="80%" class="table-bordered">
<tbody>
	<tr><th>Board</th><td> {{student.tenth_board}}</td></tr>
	<tr><th>Marks</th><td> {{student.tenth_marks}}</td></tr>
	<tr><th>School</th><td> {{student.tenth_schoolname}}</td></tr>
	<tr><th>City</th><td> {{student.tenth_city}}</td></tr>
	<tr><th>Yeargap</th><td> {% if not student.tenth_yeargap %} No {% else %} Yes {% endif %}</td></tr>
{% if student.tenth_yeargap %}
<tr><th> Year gap reason</th><td>{{student.tenth_yeargap_reason}}</td></tr>
{% endif %}

</tbody>
</table>
</div>


<br/>
<!-- 12th -->
{% if not student.is_diploma %}
<h4>12th</h4>

<div class="table-responsive table-css">

<table width="80%" class="table-bordered">
<tbody>
	<tr><th>Board</th><td> {{student.twelveth_board}}</td></tr>
	<tr><th>Marks</th><td> {{student.twelveth_marks}}</td></tr>
	<tr><th>School</th><td> {{student.twelveth_schoolname}}</td></tr>
	<tr><th>City</th><td> {{student.twelveth_city}}</td></tr>
	<tr><th>Yeargap</th><td> {% if not student.twelveth_yeargap %} No {% else %} Yes {% endif %}</td></tr>
{% if student.twelveth_yeargap %}
<tr><th> Year gap reason</th><td>{{student.twelveth_yeargap_reason}}</td></tr>
{% endif %}

</tbody>
</table>
</div>

<br/>
<!-- DIPLOMA -->
{% else %}
<h4>Diploma</h4>
<div class="table-responsive table-css">

<table width="80%" class="table-bordered">
<tbody>
	<tr><th>Board</th><td> {{student.diploma_board}}</td></tr>
	<tr><th>Marks Obtained</th><td> {{student.diploma_marks}}</td></tr>
	<tr><th>Marks Out Of</th><td> {{student.diploma_outof}}</td></tr>
	<tr><th>Year</th><td> {{student.diploma_year}}</td></tr>

</tbody>
</table>
</div>
{% endif %}

<br/>
<h4>Degree (B.E.)</h4>

<div class="table-responsive table-css">

<table width="80%" class="table-bordered">
<tbody>
	<tr><th>FE  marks</th><td> {{student.fe_marks}}</td></tr>
	<tr><th>FE  marks outof</th><td> {{student.fe_outof}}</td></tr>
	<tr><th>SE  marks</th><td> {{student.se_marks}}</td></tr>
	<tr><th>SE  marks outof</th><td> {{student.se_outof}}</td></tr>
	<tr><th>TE  marks</th><td> {{student.te_marks}}</td></tr>
	<tr><th>TE  marks outof</th><td> {{student.te_outof}}</td></tr>
	<tr><th>Total  marks</th><td> {{student.total_marks}}</td></tr>
	<tr><th>Total  marks out of:</th><td>{{student.total_outof}}</td></tr>
	<tr><th>Average</th><td> {{student.average}}</td></tr>
	<tr><th>Yeargap</th><td> {% if not student.be_yeargap %} No {% else %} Yes {% endif %}</td></tr>
	<tr><th>Active Back</th><td> {{student.active_back}}</td></tr>
	<tr><th>Passive Back</th><td>{% if not student.passive_back %} No {% else %} Yes {% endif %}</td></tr>
</tbody>
</table>
</div>

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% if lock == -1 %}
<input class="btn btn-info" type="button" value="Print this page" onclick="printPage()" />
<!-- this is from admin profile for verification -->
{% elif lock == 0 %}
<input class="btn btn-info" type="button" value="Lock"  id="lock2" onclick="lock('{{student.prn}}')"/>
{% elif lock ==  1 %}
<input class="btn btn-info" type="button" value="Unlock" id="lock2" onclick="unlock('{{student.prn}}')" />
{% endif %}




<!-- label> Placed : </label>
<label> {% if not student.placed %} No {% else %} Yes {% endif %}</label>
<br><br>
 -->
<hr>
<script>


function lock(prn){
        var csrftoken = getCookie('csrftoken');

        $.ajax({
            type: "POST",
            url: '/lockStudent/',
            data : {prn:prn,csrfmiddlewaretoken:csrftoken},
            success: function(message) {
            console.log(message);
                if (message =='success') {
                   window.location.href = "/psearch/";
                }
                else
                {
                alert('Error');
                }
            },
            error: function(xhr, errmsg, err) {
                alert('Error');
            },
        });
    }


function unlock(prn){
        var csrftoken = getCookie('csrftoken');
        var button1 = document.getElementById("lock1");
        var button2 = document.getElementById("lock2");

        $.ajax({
            type: "POST",
            url: '/unlockStudent/',
            data : {prn:prn,csrfmiddlewaretoken:csrftoken},
            success: function(message) {
            console.log(message);
                if (message =='success') {
                   alert("Unlocked Student");
                   button1.value = "Lock";
                   button2.value = "Lock";
                   location.reload();
                }
                else
                {
                alert('Error');
                }
            },
            error: function(xhr, errmsg, err) {
                alert('Error');
            },
        });
    }
function showPopup() {
     document.getElementById("popup").style.display = "block";
}

	// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}


</script>

</body>

</html>